{
  "presets": ["babel-preset-expo"],
  "plugins": [
    [
      "import",
      {
        "libraryName": "",
        "libraryDirectory": ""
      }
    ]
  ],
  "env": {
    "development": {
      "plugins": ["transform-react-jsx-source"]
    }
  }
}
